@import url("https://fonts.maateen.me/baloo-da-2/font.css");
* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  color: var(--text-color);
  font-family: "Baloo Da 2", Arial, Helvetica, sans-serif;
  background-color: var(--base-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.6;
  padding: 0px;
  margin: 0px;
  transition: ease-in-out 0.2s;
  cursor: default;
  --time-bg: #191a1d;
  --base-color: #000000;
  --text-color: #ffffff;
  --base-variant: #101425;
  --info-color: #2eb5eb;
  --primary-color: #a8bdfd;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Baloo Da 2", sans-serif;
  font-size: 4em;
  position: relative;
}

.watch-container {
  background: var(--time-bg);
  padding: 20px;
  border-radius: 20px;
  box-shadow: #000 1px 0px 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90vw;
  max-width: 750px;
}

.time-container {
  font-size: 1.5em;
  font-weight: 550;
  width: 90vw;
  max-width: 730px;
  padding: 10px;
}

.date-container {
  font-size: 1em;
  font-weight: 400;
}

@keyframes transition {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

#fullscreen-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--base-variant);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 20px;
  bottom: 20px;
  cursor: pointer;
  animation: transition 0.3s ease-in-out;
}

#fullscreen-btn svg {
  fill: var(--primary-color);
}
@keyframes transition {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

#fullscreen-btn svg {
  fill: var(--primary-color);
}

#style1-btn {
  width: 70px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--base-variant);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  animation: transition 0.3s ease-in-out;
  color: var(--text-color);
  font-family: "Baloo Da 2", sans-serif;
}

.info {
  font-size: 22px;
  color: var(--info-color);
  font-family: "Baloo Da 2", Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin-top: 20px;
  text-shadow: 0 1px 1px 5px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  transition: color 0.3s ease;
  text-decoration: none;
}

.info a {
  color: #e76f51;
  text-decoration: none;
  font-weight: bold;
}

@property --angle {
  initial-value: 0deg;
  syntax: "<angle>";
  inherits: false;
}

.container::after,
.container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: conic-gradient(
    from var(--angle),
    blue,
    red,
    yellow,
    green,
    blue
  );
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  z-index: -1;
  padding: 8px;
  animation: 3s linear infinite spin;
}

.container::before {
  filter: blur(2rem);
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

/*Mobile*/

@media screen and (max-width: 484px) {
  .time-container {
    font-size: 2.5rem;
    width: 70vw;
    font-weight: 430;
  }

  .date-container {
    font-size: 1.3rem;
    width: 80vw;
    font-weight: 380;
  }

  .container {
    width: 90%;
    max-width: 750px;
  }

  * {
    margin: 0;
    padding: 0;
  }

  .info {
    font-size: 16px;
  }
}

/*Mobile-big*/

@media screen and (min-width: 484px) and (max-width: 600px) {
  .time-container {
    font-size: 3.5rem;
    width: 75vw;
    font-weight: 450;
  }

  .date-container {
    font-size: 2rem;
    width: 75vw;
    font-weight: 400;
  }

  .container {
    width: 87vw;
    max-width: 750px;
  }

  * {
    margin: 0;
    padding: 0;
  }
  .info {
    font-size: 17px;
  }
}
/*Tablet*/
@media screen and (min-width: 600px) and (max-width: 900px) {
  .time-container {
    font-size: 4rem;
    width: 75vw;
    font-weight: 500;
  }

  .date-container {
    font-size: 2.5rem;
    width: 75vw;
    font-weight: 400;
  }

  .container {
    width: 84vw;
    max-width: 750px;
  }

  * {
    margin: 0;
    padding: 0;
  }
  .info {
    font-size: 18px;
  }
}
